<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class = "col-md-6 offset-md-3 text-center">
        <h1>Bienvenido</h1>
        <h2>Aqui puedes realizar tus análisis de sangre</h2>
        <mat-card>
          <div class = "container text-center">
            <img src="../../../assets/botiquin.png" width = "100" height = "100">
          </div>
  
          <h1 class = "text-center">Coloca tus datos</h1>
          <form (ngSubmit) = "formSubmit()">
            <mat-form-field class = "full-width"  appearance = "outline">
              <mat-label>Porcentaje de azucar</mat-label>
              <input [(ngModel)] = "analisis.azucar" name = "azucar" required  matInput placeholder="Digite su porcentaje de azucar">
              <mat-hint>Solo deben ser números de 1 al 100</mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Porcentaje de grasa</mat-label>
              <input [(ngModel)] = "analisis.grasa" name = "grasa" required  matInput placeholder="Digite su porcentaje de grasa">
              <mat-hint>Solo deben ser números de 1 al 100</mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Porcentaje de oxigeno</mat-label>
              <input required [(ngModel)] = "analisis.oxigeno" name = "oxigeno" matInput placeholder="Digite su porcentaje de oxigeno">
              <mat-hint>Solo deben ser números de 1 al 100</mat-hint>
            </mat-form-field>
  
            <br><br>
  
            <div class = "container text-center">
              <button type = "submit" mat-raised-button color="primary">Obtener Resultado</button>
              <button type="reset" style = "margin-left: 20px;" mat-raised-button color="accent">Limpiar</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
